<p>
  defer允许你创建一个 Observable 当且仅当它被订阅的时候，并且为每个订阅者创建新的 Observable。
</p>

<p>
  empty 创建一个什么数据都不发出并且立马完成的 Observable。
</p>

<p>from 从一个数组、类数组对象、Promise、迭代器对象或者类 Observable 对象创建一个 Observable.</p>
<p>interval 创建一个 Observable ，该 Observable 使用指定的 IScheduler ，并以指定时间间隔发出连续的数字。</p>
<p>of 创建一个 Observable，它会依次发出由你提供的参数，最后发出完成通知。</p>
<p>range 创建一个 Observable ，它发出指定范围内的数字序列。</p>
<p>timer 创建一个 Observable，该 Observable 在初始延时（initialDelay）之后开始发送并且在每个时间周期（ period）后发出自增的数字</p>


<p> fromEvent 创建一个 Observable，该 Observable 发出来自给定事件对象的指定类型事件。(例子：deferDemo)</p>

<span class="btn" (click)="bindCallbackDemo()">bindCallback</span>
<span class="btn" (click)="createDemo()">create</span>
<span class="btn" (click)="deferDemo()">defer</span>
<span class="btn" (click)="emptyDemo()">empty</span>
<span class="btn" (click)="fromDemo()">from</span>
<span class="btn" (click)="intervalDemo()">interval</span>
<span class="btn" (click)="ofDemo()">of</span>
<span class="btn" (click)="rangeDemo()">range</span>
<span class="btn" (click)="timerDemo()">timer</span>
