<p>merge 创建一个输出 Observable ，它可以同时发出每个给定的输入 Observable 中值。</p>
<p>zip 将多个 Observable 组合以创建一个 Observable，该 Observable 的值是由所有输入 Observables 的值按顺序计算而来的。

  如果最后一个参数是函数, 这个函数被用来计算最终发出的值.否则, 返回一个顺序包含所有输入值的数组.</p>
<p>
  concat通过一次订阅一个将多个 Observables 连接起来，并将值合并到输出 Observable
  中。 你可以传递一个输入 Observable 数组，或者直接把它们当做参数传递。
  传递一个空数组会 导致输出 Observable 立马触发完成状态。
</p>
<p>combineLatest 组合多个 Observables 来创建一个 Observable ，该 Observable 的值根据每个输入 Observable 的最新值计算得出的。</p>

<span class="btn" (click)="mergeDemo()">merge</span>
<span class="btn" (click)="zipDemo()">zip</span>
<span class="btn" (click)="concatDemo()">concat</span>
<span class="btn" (click)="combineLatestDemo()">combineLatest</span>
